.BannerTitleContainer {
  /* background-color: aliceblue; */
  position: relative;
}
.BannerTitleContainer img {
  width: 100%;
}
.BannerTitle {
  position: absolute;
  top: 35%;
  left: 15%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.BannerTitle h3 {
  font-size: 60px;
}
.BannerTitleTag {
  font-size: 60px;
}
.LocalBannerImg {
  width: 100%;
  height: 400px !important;
}
.LinerGradientBackground {
  width: 100%;
  height: 400px !important;
  z-index: 9999999999999;
  background-image: linear-gradient(
    to left top,
    #29af8a,
    #44be9b,
    #5acdac,
    #70dcbd,
    #84ebce,
    #84ebce,
    #84ebce,
    #84ebce,
    #70dcbd,
    #5acdac,
    #44be9b,
    #29af8a
  );
}
.someimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}

@media (max-width: 600px) {
  .BannerTitleContainer {
  }
  .LocalBannerImg {
    width: 100%;
    height: 250px !important;
  }
  .BannerTitleTag {
    font-size: 28px;
    text-align: center;
    /* padding-bottom: 30px; */
  }
  .BannerTitle {
    left: 0%;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
