.ReasearchContainer {
  display: grid;
  width: 90%;
  margin: 0 auto;
  /* grid-template-columns: 65% 35%; */
  grid-template-columns: 100%;
  margin-top: 50px;
}
.ReasearchContainer > article {
  padding: 20px 30px;
}
.ReasearchTextContainer p {
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  text-align: justify;
  margin-bottom: 20px;
}

.ReasearchTextContainer p:first-child::first-letter {
  color: var(--primary-color) !important;
  font-size: 28px;
  font-weight: bold;
}
