.DonationMainContainer {
  background: linear-gradient(
      108deg,
      rgba(255, 222, 209, 0.5662640056022409) 100%,
      rgba(255, 77, 0, 0.3060574571625525) 100%
    ),
    url("../../../Assets/Home/Donation/donation-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.DonationTextContainer {
  width: 80%;
  margin: 0 auto;
  padding: 120px 0px;
  text-align: center;
}
.DonationTextContainer > div {
  margin-top: 25px;
}
.DonationTitle {
  font-size: 40px;
  font-weight: bold;
}
.DonationDesc {
  font-size: 33px;
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
  line-height: 50px;
}
.DonationDesc span {
  color: red;
}
