.MainLinksSideBarContainer {
  background-color: #f9f9fc;
  position: sticky;
  top: 20%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
}

.MainLinksSideBarLinks {
  padding: 20px 10px 20px 20px;
}

.MainLinksSideBarLinks ul {
  list-style: none;
}

.MainLinksSideBarLinks ul li {
  margin-top: 20px;
}
.MainLinksSideBarLinks ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
}

.MainLinksSideBarAddress {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
}
.MainLinksSideBarAddress p {
  margin: 10px 0px 5px;
  color: #fff;
  line-height: 25px;
  font-size: 17px;
}
.MainLinksSideBarAddress p strong {
  margin-right: 10px;
  margin-bottom: 20px;
}
