.ResearchMainContainer {
  margin: 80px 0px;
}

.ResearchContainer {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 2%;
  /* grid-template-columns: 70% 30%; */
  grid-template-columns: 100%;
}

.ResearchText {
  padding: 10px !important;
}

.ResearchText img {
  width: 100%;
  /* height: 350px; */
}

.ResearchText p {
  margin-top: 16px;
  color: #999999;
  font-size: 18px;
  font-weight: 600;
  line-height: 33px;
  text-align: justify;
}
.ResearchText p strong {
  color: #616161;
  font-size: 20px;
  font-weight: bold;
}
.ResearchText p ul {
  margin-left: 40px;
}
.ResearchText img {
}

@media (max-width: 576px) {
  .ResearchContainer {
    width: 90%;
    grid-template-columns: 100%;
  }
}
