.ourTeamMainContainer {
  background-color: #eef4f8;
  margin: 30px 0px;
  padding: 20px 0px;
}

.ourTeamMembers {
  padding: 2%;
}

.ourTeamContent {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ourTeamContent > div {
  width: 25%;
  padding: 20px;
}

.ourCards {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 4px rgba(168, 168, 168, 0.75);
}
.ourCards img {
  width: 100%;
  height: 250px;
}

.ourCards h3 {
  color: #2a283e;
  font-size: 20px;
}

.ourCards p {
  color: #918090;
  font-size: 17px;
}
.ourCardsDesc {
  padding: 10px 0px;
}
.ourCardsDesc p {
  margin-top: 7px;
}
