.ourTeamMainContainer {
  background-color: #eef4f8;
  margin: 30px 0px;
  padding: 20px 0px;
}

.ourTeamMembers {
  padding: 2%;
  /* border: 2px solid red; */
}

.ourTeamContent {
  /* border: 2px solid red; */
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0 auto;
  text-align: center;
}
.ourTeamContent > div {
  padding: 20px;
}

.ourCards {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 4px rgba(168, 168, 168, 0.75);
}
.ourCards img {
  width: 100%;
}

.ourCards h3 {
  color: #2a283e;
  font-size: 25px;
}

.ourCards p {
  color: #918090;
  font-size: 20px;
}
.ourCardsDesc {
  padding: 10px 0px;
}
.ourCardsDesc p {
  margin-top: 7px;
}
