marquee {
}
marquee a {
  font-size: 25px;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}
.slick-slide img {
  width: 100%;
}
.BannerAlphaContainer {
  margin-bottom: 30px;
}
.BannerContainer {
  position: relative;
}
.BannerSliderContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.BannerSliderContainer img {
  height: 100%;
}

.BannerSliderContent {
  position: absolute;
  bottom: 2%;
  width: 70%;
  left: 7%;
  background-color: var(--primary-color);
  opacity: 0.8;
  padding: 20px;
  border-radius: 10px;
}
.BannerSliderTitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
  color: #fff;
}
.BannerSliderDesc {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  color: #fff;
}
.BannerContainer .slick-prev {
  left: 30px;
  z-index: 2;
}
.BannerContainer .slick-prev::before {
  color: rgb(255, 255, 255) !important;
  font-size: 30px;
}

.BannerContainer .slick-next {
  right: 30px;
  z-index: 2;
}
.BannerContainer .slick-next::before {
  color: rgb(255, 255, 255) !important;
  font-size: 30px;
}
.slick-dots {
  position: absolute;
}

@media (min-width: 992px) {
  .BannerSliderContainer {
    height: 440px;
  }
}

@media (min-width: 1400px) {
  .BannerSliderContainer {
    height: 500px;
  }
}

@media (max-width: 600px) {
  .BannerSliderContainer {
    height: 45vh;
  }
  .BannerSliderContainer img {
    height: 100%;
  }
  .BannerSliderContent {
    width: 94%;
    left: 3%;
    opacity: 0.75;
  }
  /* .BannerSliderContent {
    position: absolute;
    bottom: 2%;
    width: 70%;
    left: 7%;
    background-color: #ffffff;

    padding: 20px;
    border-radius: 10px;
  } */
  .BannerSliderTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    color: rgb(9, 50, 76);
  }
  .BannerSliderDesc {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}
