.aboutMainContainer {
  width: 95%;
  margin: 0 auto;
}
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.aboutContainer div {
  flex-basis: 50%;
}
.imgContainer {
  position: relative;
  padding: 30px 0px 30px 25px;
  height: 750px;
  text-align: center;
}
.imgContainer img {
  width: 75%;
  position: absolute;
  top: 10%;
  left: 5%;
  border-radius: 15px;
  z-index: 2;
}

.blueBackGround {
  position: absolute;
  margin: 0 auto;
  top: 20%;
  left: 35%;
  width: 50%;
  height: 50%;
  z-index: 0;
  background-color: yellow;
  border-radius: 15px;
}
.cementBackGround {
  position: absolute;
  margin: 0 auto;
  top: 35%;
  left: 37%;
  width: 50%;
  height: 60%;
  background-color: blue;
  border-radius: 15px;
  z-index: 0;
}

.content {
  padding: 40px;
}
.content p {
  color: "#787878";
  font-weight: 400;
  line-height: 26px;
}
