.blogMainContainer {
  background-color: #eee;
  margin: 6% 0% 5%;
  padding-top: 30px;
}
.blogContainer {
  padding: 30px 20px;
  text-align: center;
}

.blogTexts p {
  color: #787878;
  font-family: open sans, Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.4em;
  margin: 15px 0px;
}
.blogSlider {
  width: 80%;
  margin: 0 auto;
}
.blogItemContainer {
}
.blogItem {
  padding: 0px;
  margin: 10px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}
.blogItem img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.blogTextContainer .blogText {
  padding: 10px 20px;
}
.blogText h5 {
  font-size: 30px;
}
.blogText p {
  color: #787878;
  font-family: open sans, Sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.4em;
  margin: 15px 0px;
}
.blogText button {
  border: none;
  background-color: none;
  background-color: #ffff;
  color: rgb(0, 91, 234);
  font-size: 18px;
}
.BlogDates {
  padding: 10px;
}
