.MediaImageContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.MediaImageContainer > div {
  width: 33.33%;
  text-align: center;
  padding: 10px;
  /* height: 100px; */
}
.MediaImageItem {
  width: 90%;
  margin: 0 auto;
  background-color: antiquewhite;
}
.MediaImageItem img {
  width: 100%;
}
.mediaAboutUs {
  width: 80%;
  margin: 20px auto 0px auto;
}
.mediaAboutUs p {
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  margin-bottom: 15px;
}

.mediaAboutUs p:first-child::first-letter {
  color: var(--primary-color) !important;
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .MediaImageContainer > div {
    width: 100%;
    margin-top: 20px;
  }
  .MediaImageItem {
    padding-bottom: 10px;
  }
}
