.MediaImageContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid red;
}
.MediaImageContainer > div {
  width: 33.33%;
  text-align: center;
  padding: 10px;
  border: 2px solid red;
  /* height: 100px; */
}
.MediaImageItem {
  width: 90%;
  margin: 0 auto;
  background-color: antiquewhite;
}
.MediaImageItem img {
  width: 100%;
}
