.MediaImageContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.MediaImageContainer > div {
  width: 33.33%;
  text-align: center;
  padding: 10px;
  /* height: 100px; */
}
.MediaImageItem {
  width: 90%;
  margin: 0 auto;
  background-color: antiquewhite;
}
.MediaImageItem img {
  width: 100%;
}
@media (max-width: 576px) {
  .MediaImageContainer > div {
    width: 100%;
    margin-top: 20px;
  }
  .MediaImageItem {
    padding-bottom: 10px;
  }
}
