.ourTeamMainContainer {
  background-color: #eef4f8;
  margin: 30px 0px;
}

.ourTeamContainer {
  width: 85%;
  /* border: 2px solid red; */
  margin: 0 auto;
  text-align: center;
}

.ourTeamContainer p {
  margin-top: 5%;
  font-size: 25px;
  color: #8185b1;
  font-weight: 600;
}

.ourTeamContainer h1 {
  width: 45%;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 2%;
  font-size: 30px;
  line-height: 1.5;
  color: #212529;
}

.ourTeamMembers {
  background-color: #eef4f8;
  height: 50%;
  /* border: 2px solid red; */
  margin: 30px 0;
  padding: 2%;
}

.ourTeamContent {
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0 auto;
  text-align: center;
}

.ourCards {
  width: 68%;
  height: 320px;
  background-color: #ffffff;
  border-radius: 5% 5% 5% 5%;
}

.ourCards img {
  width: 100%;
  height: 225px;
}

.ourCards h3 {
  color: #2a283e;
  margin-top: 3%;
  padding: 2%;
  font-size: 25px;
}

.ourCards p {
  color: #918090;
  margin-top: 6%;
  font-size: 15px;
}
