.contactUsMainContainer {
  margin: 10% 0%;
}
.contactUsContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.contactUsContainer div {
  flex-basis: 50%;
}
.contactImageContainer img {
  border-radius: 15px;
  width: 100%;
  padding: 10px;
}
