.MediaContainer {
  margin: 30px 0px;
  background: linear-gradient(
    15deg,
    rgba(243, 232, 226, 0.3) 46%,
    rgba(243, 232, 226, 0.3) 85%
  ),
  url("../../../Assets/page-background.jpg");
}
.MediaImageContainer {
  width: 90%;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  column-count: 3;
  column-gap: 0;
}
.MediaImageContainer > div {
  width: 100%;
  text-align: center;
  padding: 5px;
  /* height: 100px; */
}
.MediaImageItem {
  width: 90%;
  margin: 0 auto;
  background-color: antiquewhite;
  box-shadow: -1px 2px 14px -4px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
  padding-bottom: 10px;
}
.MediaImageItem img {
  width: 100%;
}
.MediaImageItem p {
  font-weight: 700;
}
@media (max-width: 576px) {
  .MediaImageContainer {
    column-count: 1;
    column-gap: 0;
  }
  .MediaImageContainer > div {
    width: 100%;
  }
}
