.testimonialMainContainer {
  margin: 10% 0% 5%;
}
.testimonialSliderContainer {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
}
.testimonialItemContainer {
  width: 85% !important;
  margin-top: 5%;
  margin-left: 7.5%;
  margin-bottom: 5%;
}
.testimonialItem {
  min-height: 350px;
  display: grid !important;
  margin: 0 auto;
  grid-template-columns: 25% 75%;
  box-shadow: 15px 29px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 15px 29px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 29px 30px -15px rgba(0, 0, 0, 0.75);
}

.imgbox {
  position: relative;
  z-index: -1;
}
.colorBox {
  top: 0;
  position: absolute;
  height: 65%;
  width: 80%;
  transform: translate(-10%, 0%);
  background-color: red;
  border-radius: 10px;
  z-index: 2;
}
.imgbox img {
  position: absolute;
  width: 80%;
  transform: translate(-25%, -20%);
  border-radius: 10px;
  height: 65%;
  width: 80%;
  z-index: 999999;
}

.testimonialText {
  padding: 3%;
}
.testimonial {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  font-style: italic;
  line-height: 1.8em;
  padding-top: 5%;
}
.authors {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.author {
  font-weight: 700;
  font-size: 25px;
}
.author::before {
  content: "----";
  margin-right: 10px;
}
.testimonialMainContainer button {
  border: 2px solid red !important;
  background-color: red;
}
.testimonialMainContainer button .slick-prev:before {
  font-size: 35px !important;
  color: red;
}
