.ourSkillMainContainer {
  margin: 10% 0%;
}
.ourSkillContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.ourSkillContainer div {
  flex-basis: 50%;
}
.ourSkillText p {
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.6em;
}
.progress1 {
  transition: 2s;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  width: 70%;
  animation: mymove 2s;
}
@keyframes mymove {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
