.TraningMainContainer {
  margin: 80px 0px;
}

.TraningContainer {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 70% 30%;
}

.TraningText {
  padding: 10px !important;
}

.TraningText img {
  width: 100%;
}

.TraningText p {
  margin: 34px 0px;
  color: #999999;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  text-align: justify;
}

.TraningSidebarContainer {
  background-color: #f9f9fc;
  position: sticky;
  top: 20%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
}

.TraningSidebarLinks {
  padding: 20px 10px 20px 20px;
}

.TraningSidebarLinks ul {
  list-style: none;
}

.TraningSidebarLinks ul li {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.TraningSidebarAddress {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
}
.TraningSidebarAddress p {
  margin: 10px 0px 5px;
  color: #fff;
  line-height: 25px;
  font-size: 17px;
}
.TraningSidebarAddress p strong {
  margin-right: 10px;
  margin-bottom: 20px;
}
