.projectsMainContainer {
  margin-top: 50px;
}
.ProjectsContainer {
  width: 90%;
  margin: 0 auto;
}
.ProjectsItemsFlexContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ProjectsItemsFlexContainer > div {
  flex-basis: 33.33%;
  padding: 15px;
}
.ProjectsItems {
  background: linear-gradient(
      rgba(212, 212, 212, 0.972108) 100%,
      rgba(255, 77, 0, 0.9317230310092783) 100%
    ),
    url(http://localhost:3000/static/media/jupiter.15f140aafda6659a1ab2.svg);
  padding: 8px;
  z-index: -1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.projectsItemImage {
  text-align: center;
}
.projectsItemImage img {
  width: 100%;
}
.ProjectsItemContent {
  margin: 10px 0px;
  min-height: 60px;
  padding: 10px;
}
.ProjectsItemContent > h3 {
  line-height: 25px;
  min-height: 50px;
  font-size: 1rem;
  /* calc(0.75rem + 1vmin); */
}
.ProjectsItemContent > p {
  font-size: 18px;
  margin: 20px 0px;
  line-height: 25px;
  font-weight: 500;
  min-height: 70px;
}
.ProjectsAddressItemContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 10px;
}
.ProjectsAddressItemContainer > div {
  flex-basis: 50%;
}
.ProjectsAddressItem {
  display: flex;
  align-items: center;
  gap: 5%;
}
.ProjectsAddresIcon svg {
  font-size: 25px;
}
.ProjectsAddresDesc p {
  font-size: 16px;
  font-weight: 500;
}
.ProjectsAddresDesc p:first-child {
  font-size: 18px !important;
  font-weight: 600;
  margin-bottom: 4px;
}
@media (max-width: 576px) {
  .ProjectsItemsFlexContainer > div {
    flex-basis: 100%;
    padding: 15px;
  }
}
