.AffirmationsContainer {
  margin: 20px 0px;
}
.AffirmaionsImageContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.AffirmaionsImageContainer > div {
  width: 50%;
  padding: 10px;
  text-align: center;
}
.AffirmaionsImage {
  text-align: center;
  background-color: antiquewhite;
  padding-bottom: 10px;
}

.AffirmaionsImage img {
  width: 100%;
}
@media (max-width: 576px) {
  .AffirmaionsImageContainer > div {
    width: 100%;
    padding: 10px;
  }
}
