.ProjectsAlphaContainer {
  position: relative;
}
.ProjectItemsBackground {
  background-color: #ffded1 !important;
  width: 100%;
  position: absolute;
  top: 60%;
  bottom: 0;
  z-index: -1;
}
.ProjectsContainer {
  width: 90%;
  margin: 0 auto;
}
.ProjectsItemsFlexContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ProjectsItemsFlexContainer > div {
  flex-basis: 31.33%;
  /* padding: 20px; */
}

.ProjectsItems {
  background: linear-gradient(
      rgba(212, 212, 212, 0.972108) 100%,
      rgba(255, 77, 0, 0.9317230310092783) 100%
    ),
    url(http://localhost:3000/static/media/jupiter.15f140aafda6659a1ab2.svg);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.ProjectItemsHoverText {
  position: absolute;
  background-color: var(--primary-color);
  width: 100%;
  top: 0;
  left: -120%;
  right: 0;
  height: 100%;
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: 0.5s;
}
.ProjectsItems:hover .ProjectItemsHoverText {
  left: 0;
  text-align: center;
}
.ProjectItemsHoverText p {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  line-height: 27px;
  text-align: justify;
}
.ProjectItemsHoverText a {
  background-color: #fff;
  padding: 10px 20px;
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 20px;
}
.projectsItemImage {
  text-align: center;
}
.projectsItemImage img {
  width: 100%;
}
.ProjectsItemContent {
  margin: 15px 0px;
}
.ProjectsItemContent > h3 {
  line-height: 25px;
  min-height: 50px;
}
.ProjectsItemContent > p {
  font-size: 18px;
  margin: 20px 0px;
  line-height: 25px;
  font-weight: 500;
}
.ProjectsAddressItemContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 10px;
}
.ProjectsAddressItemContainer > div {
  flex-basis: 50%;
}
.ProjectsAddressItem {
  display: flex;
  align-items: center;
  gap: 5%;
}
.ProjectsAddresIcon svg {
  font-size: 25px;
}
.ProjectsAddresDesc p {
  font-size: 16px;
  font-weight: 500;
}
.ProjectsAddresDesc p:first-child {
  font-size: 18px !important;
  font-weight: 600;
  margin-bottom: 4px;
}

@media (max-width: 576px) {
  .ProjectsItemsFlexContainer {
    display: flex;
    flex-direction: column;
  }

  .ProjectsItemsFlexContainer > div {
    flex-basis: 100%;
  }
}
