.bannerMainContainer {
  width: 100%;
  height: 110vh;
  overflow: hidden;
}
.bannerContainer {
  width: 95%;
  margin: 0 auto;
}
.bannerContent {
  display: grid;
  grid-template-columns: 40% 60%;
}

.bannerContentText {
  padding-top: 200px;
}
.bannerContentImage {
  position: relative;
}
.bannerContentImg {
  position: absolute;
}
.bannerContentImg img {
  width: 100%;
  transform: translate(20%, -10%);
}
/* .bannerContentImg {
  transform: translate(10%, -10%);
  transition: 2s;
}
.bannerContentImage:hover .bannerContentImg {
  transform: translate(0%, -8%);
}
.bannerContentImg{
  transform: translate(0%, -8%);
} */
