.AssociatesMainContainer {
  background-color: rgb(227, 227, 227);
  padding: 40px 0px 60px;
  margin-bottom: 50px;
}

.AssociatesContainer {
  width: 90%;
  margin: 0px auto;
}

.AssociateImg {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.AssociateImg img {
  margin: 0 auto;
  height: 170px;
}
.AssociateImg p {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
  width: 110%;
  margin-left: -5%;
  min-height: 80px;
}
