.ourProcessMainContainer {
  margin: 5% 0%;
  background-color: #f5f5f5;
}
.ourProcessContainer {
  padding-top: 100px;
  border: 2px solid red;
}
.ourTopContainer {
  display: flex;
  padding: 0 3%;
  border: 2px solid red;
}
.ourTopContainer div {
  width: 50%;
  border: 2px solid red;
}
.ourTopPrimaryOne div {
  background-color: blue;
  height: 200px;
  width: 300px;
  transform: rotate(10deg);
  border-radius: 20px;
}
.ourTopPrimaryOne img {
  height: 200px;
}
.ourTopColTwo {
  border: 3px solid green;
}
.ourBottomContainer {
  display: flex;
}
