.footerMainContainer {
  background-color: #d9d9d9;
  padding: 10px 0px;
  position: relative;
}
.footerContainer {
  width: 90%;
  margin: 0 auto;
}
.footerFormContentContainer {
  /* position: absolute;
  top: -50%; */
  width: 80%;
  padding: 15px 5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: #fff;
}
.footerFormContentContainer > div {
  height: 100px;
}
.footerFormContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerFormTitle {
  color: rgb(58, 58, 58);
  font-size: 14px;
  font-weight: 700;
}
.footerFormDesc {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 10px;
}
.footerFormDesc span {
  color: red;
}

.footerContentContainer {
  display: grid;
  grid-template-columns: 40% 17% 17% 26%;
  gap: 15px;
}
.footerContentContainer > div {
}
.footerContentItem {
  padding: 30px;
}
.footerContentItem img {
  width: 30%;
}
.footerContentItem > p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin: 10px 0px;
}
.footerContentItem span {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}

.footerContentItem ul {
  list-style: none;
}
.footerContentItem ul li {
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
}
.footerContentLinksTitle {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 30px;
}
