.ContactMainContainer {
  margin: 50px 0px;
}

.ContactContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.ContactContainer > div {
  flex-basis: 50%;
}

.AddressItemsContainers {
  padding: 30px;
}

.AddressItemsContainers > div {
  box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  border-radius: 20px;
  padding: 10px;
}

.AddressItemsContainers > div:first-child {
  margin-top: 20px;
}

.AddressItemContainer {
  display: grid;
  grid-template-columns: 15% 85%;
  min-height: 140px;
}

.AddressItemContainer > div {
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AddressItemIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddressIcon {
  background-color: #cae4f7;
  padding: 15px;
  border-radius: 50%;
}

.AddressItemIcon svg {
  font-size: 30px;
}

.AddressItemContent h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.AddressItemContent p {
  font-size: 18px;
  line-height: 28px;
  color: #818090;
}

.FormsMainContainer {
  padding: 20px;
}

.FormsMainContainer h3 {
  font-size: 30px;
}

.FormsContainer {
  padding: 30px;
  box-shadow: 0px 0px 11px -5px rgb(0 0 0 / 75%);
  border-radius: 20px;
}

.FormsContainer {
  width: 100%;
}

.FormsContainer form > div {
  margin-top: 20px;
}

.FormsContainer input,
.FormsContainer textarea,
.FormsContainer select {
  height: 60px;
  width: 100%;
  border-radius: 15px;
  background-color: #fdf0ef;
  border: none;
  padding: 20px;
  box-shadow: 0px 1px 13px 0px #0000000d;
}

.FormsContainer textarea {
  height: 150px;
}
.FormsContainer select {
  width: 100%;
  padding: 10px !important;
}

.FormsContainer form ::placeholder,
.FormsContainer select,
.FormsContainer select option {
  color: #757d7d;
  font-size: 16px;
  font-weight: 500;
}

.FormSubmit input[type="submit"] {
  width: 40%;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

input:focus {
  border: 3px solid #0000;
}
.FormsContainer input:focus,
.FormsContainer textarea:focus {
  background-color: #fff;
}

@media (max-width: 576px) {
  .ContactContainer {
    display: flex;
    flex-direction: column;
  }

  .ContactContainer > div {
    flex-basis: 100%;
  }

  .AddressItemsContainers {
    padding: 10px;
  }

  .AddressItemContainer {
    display: grid;
    grid-template-columns: 100%;
    min-height: 100%;
  }
  .FormsMainContainer {
    padding: 5px;
  }
  .FormsContainer {
    padding: 10px;
  }
  .FormSubmit input[type="submit"] {
    width: fit-content;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
}
.successMessage {
  font-weight: 600;
  margin: 50px 0px 20px;
  font-size: 18px;
}
