.navbarAlphaContainer {
  /* height: 100px; */
}

.navbarAlphaContainer svg {
  font-size: 20px;
}
.navbarTopContainer {
  display: flex;
  padding: 11px 50px;
  background-color: #cccccc29;
}
.navbarTopContainer > div {
  flex-basis: 50%;
  height: 20px;
}
.navbarTopAccounts {
  display: flex;
}
.navbarTopAccounts > div {
  margin-left: 20px;
}

.navbarTopEmail {
  display: flex;
}
.navbarTopEmail > div {
  margin-left: 10px;
}
.navbarTopPhone {
  display: flex;
}
.navbarTopPhone > div {
  margin-left: 10px;
}
.navbarTopSocialAccounts {
  text-align: right;
}
.navbarTopSocialMedia {
  list-style: none;
}
.navbarTopSocialMedia li {
  display: inline-block;
  margin-left: 20px;
}
.navbarTopSocialMedia a {
  color: #000;
}
.navbarTopSocialMedia li a {
}
@media (max-width: 576px) {
  .navbarTopContainer {
    flex-direction: column;
    padding: 10px 0px;
  }

  .navbarTopAccounts {
    width: 100%;
  }
  .navbarTopAccounts > div {
    text-align: center;
    margin: 0;
    font-size: 15px;
  }

  .navbarTopEmail {
    display: flex;
    flex-direction: column;
  }
  .navbarTopEmail > div {
    margin-left: 10px;
  }
  .navbarTopPhone {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .navbarTopPhone > div {
    margin-left: 10px;
  }
  .navbarTopSocialAccounts {
    text-align: center;
  }
  .navbarTopSocialAccounts svg {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
  }
  .navbarTopSocialAccounts {
    margin-top: 20px;
  }
}
/* ------
------
menu
------
------ */
.navbarMenuAlphaContainer {
  /* position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0; */
  /* border: 2px solid red; */
  transition: 1s;
}
.navbarMenuSticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  z-index: 999;
  transition: 1s;
}
.navbarMenuMainContainer {
  display: grid;
  grid-template-columns: 17% 83%;
  align-items: center;
}
.navbarlogoContainer {
  text-align: center;
}
.navbarlogoContainer img {
  width: 120px;
  height: 100px;
}
.navbarMenuContainer {
}
.navbarMenuBackgroundContainer {
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 70% 25% 5%;
  padding: 25px 0px 25px 5px;
  border-radius: 10px 0px 0px 10px;
}
.navbarMenuItems {
  width: 96%;
  /* margin: 0 auto; */
}
.navbarMenuItems > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbarMenuItems > ul li {
  /* display: inline-block; */
  /* margin-left: 10px; */
  list-style: none;
  /* position: relative; */
}
.navbarMenuItems > ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 5px;
}
.navbarMenuItemIcon svg {
  position: absolute;
  font-size: 15px;
}

.navbarMenuButton {
  text-align: center;
}
.navbarMenuButton a {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
}
.navbarMenuButton a {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #000;
}
@media (max-width: 576px) {
  .navbarMenuMainContainer {
    grid-template-columns: 35% 65%;
    align-items: center;
  }
  .navbarMenuBackgroundContainer {
    grid-template-columns: 20% 80% 0%;
  }
  .navbarMenuItems {
    text-align: center;
  }
}
/* ------
------
submenu
------
------ */
.navbarMenuItems {
  /* position: relative; */
}
.submenulist {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -1px 0px 16px -1px rgba(0, 0, 0, 0.75);
  padding: 20px 10px;
  width: fit-content;
  padding-right: 50px;
  z-index: 9999;
  margin-top: 10px;
  margin-left: -30px;
  position: absolute;
  display: none;
  transition: 1s;
}
.submenulist li:first-child {
  margin-top: 0px !important;
}
.submenulist li {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  transition: 0.5s;
}
.navbarMenuItem:hover .submenulist {
  display: block;
  margin-top: 10px !important;
  /* transition: 1s; */
}
.submenulist li:hover {
  font-weight: 700;
  padding-left: 10px;
}
