.ourBenifitsMainContainer {
  background-color: #ffff;
  margin: 10% 0%;
}
.ourBenifitsContainer {
  width: 85%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
}
.ourBenifitsContainer div {
  flex-basis: 50%;
}
.ourBenifitsContainer {
}
.cardMainContainer {
  width: 80%;
}
.cardContainer {
  display: flex;
  margin: 30px 0px;
  justify-content: center !important;
}
.cardContainer div {
}
.imgCard {
  flex: 1 !important;
  /* text-align: center; */
}
.imgCard svg {
  color: blue;
  font-size: 100px;
  font-weight: 500;
}
.textCard {
  flex: 3 !important;
  text-align: left;
}
.textCard h4 {
  font-size: 24px;
}
.textCard p {
  color: rgba(17, 17, 17, 0.6);
  font-size: 18px;
  margin: 10px 0px;
}
