/* .movinganimation {
  border: 2px solid red;
  transition: 2s;
  animation: moving 3s infinite ease;
}
@keyframes moving {
  0% {
    transform: translate(42px, 18px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(42px, 18px);
  }
  100% {
    transform: translate(0px, 0px);
  }
} */
