.footerMainContainer {
  background-color: #d9d9d9;
  padding: 10px 0px;
  position: relative;
  /* margin-top: 50px; */
}
.footerContainer {
  width: 90%;
  margin: 0 auto;
}
.footerFormContentContainer {
  width: 80%;
  padding: 15px 5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: #fff;
  position: relative;
  margin-top: -5%;
  margin-bottom: 3%;
  border-radius: 15px;
  box-shadow: -1px 2px 30px -7px rgba(0, 0, 0, 0.75);
}
.footerFormContentContainer > div {
  height: 100px;
}
.footerFormContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerFormTitle {
  color: rgb(58, 58, 58);
  font-size: 18px;
  font-weight: 700;
}
.footerFormDesc {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 15px;
}
.footerFormDesc span {
  color: red;
}
.footerForm {
  display: flex;

  align-items: center;
  text-align: center;
}
.footerForm form {
  width: 100%;
}
.footerForm input[type="email"] {
  border: 2px solid #000;
  /* height: 30px; */
  padding: 10px 20px;
  width: 50%;
  color: #000;
  font-weight: 600;
}
.footerForm input[type="submit"] {
  padding: 10px 20px;
  background-color: rgb(9, 50, 76);
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
}
.footerContentContainer {
  display: grid;
  grid-template-columns: 40% 17% 17% 26%;
  gap: 15px;
}
.footerContentContainer > div {
}
.footerContentItem {
  padding: 30px;
}
.footerContentItem img {
  width: 30%;
}
.footerContentItem > p {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  margin: 10px 0px;
}
.footerContentItem span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.footerContentItem ul {
  list-style: none;
}
.footerContentItem ul li {
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 500;
}
.footerContentLinksTitle {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 30px;
}
.footerContainerTwiteer {
  padding: 5px !important;
}

@media (max-width: 576px) {
  .footerFormContentContainer {
    width: 90%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: -30%;
  }
  .footerFormContentContainer > div {
    height: 100%;
  }
  .footerContentContainer {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
  }
  .footerContentItem {
    padding: 10px 10px;
  }
}
@media (max-width: 1200px) {
  .footerFormContentContainer {
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: -10%;
  }
  .footerContentContainer {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
  }
}
